@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TeacherAdmin</h1>
    <p>This Web App is designed to help you keep on top of your students and their lessons.</p>
    <br />
    <p>Add students and then create lessons for them. You can fill in the time and date of the lesson, the teaching slides you used, the new vocabulary they learnt, and any grammar topics for that lesson.</p>

</div>

